/* Coded by Mark */

/* table formatting */
table{
    margin-top: 20px;
    border-collapse: collapse;
    width: 75%;
    border: 1px solid black;
    text-align: center;
}

tr:first-child {
    border : 1px solid #000;
  }